@import "common/vars";
@import "common/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  color: $primary-color;
  font-family: 'Euclid Circular B', sans-serif;
}

main {
  overflow: hidden;
}

.section-head {
  display: inline-block;
  font-size: 45px;
  line-height: 60px;
  font-weight: 600;
  position: relative;
  color: $second-color;

  &:before, &:after {
    content: '';
    border: 1px solid $green;
    border-radius: 50%;
    width: calc(100% + 70px);
    height:calc(100% + 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%) rotate(-3deg);
  }

  &:after {
    transform: translate(-50%, -47%) rotate(3deg);
  }
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}